[submodule "Drivers/MotorDriver"]
	path = Drivers/MotorDriver
	url = https://github.com/Bbuyukyilmaz/MotorDriver.git
[submodule "Drivers/PCListener"]
	path = Drivers/PCListener
	url = https://github.com/Bbuyukyilmaz/PCListener.git
[submodule "Drivers/EMGDriver"]
	path = Drivers/EMGDriver
	url = https://github.com/Bbuyukyilmaz/EMGDriver.git
